@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Rubik",sans-serif;
    background-image: url("components/car1.jpg");
    background-repeat: no-repeat;
    height:100vh;
    width:100vw;
    background-position: center;
    background-size: cover;
}
